include LICENSE
include README.md
include CONTRIBUTING.md
include config/plogr.conf
include config/dnf5/actions.conf
include systemd-user/plogr.service
recursive-include docs/man *
recursive-include libdnf5-plugin * 